<!-- student_approval.hbs -->
{{#> base_template title="Registration Approved" companyName="New Breed Educational Centre" currentYear="2024"}}
{{#*inline "content"}}
  <p>Dear {{studentName}},</p>
  <p>Congratulations! Your registration for New Breed Educational Centre has been successfully approved.</p>
  <p>You can login to your portal using </p>:
  <p>studentId: {{studentId}}</p>
  <p>Password: {{studentPassword}}</p>
  <p>We are excited to have you on board and look forward to helping you prepare for your exams.</p>
  {{!-- <p>For more details, please log in to your student dashboard:</p>
  <a href="{{dashboardLink}}" class="button">Access Dashboard</a>
  <p>Best regards,<br>New Breed Educational Centre</p> --}}
{{/inline}}
{{/base_template}}
